@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

img,
button,
iframe,
a {
    user-select: none;
}

.fadeIn {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:user-invalid {
    border: 1.5px solid rgba(255, 0, 0, 0.416);
}

.homeBanner {
    background: url(/docs/assets/images/home-banner.png) center/cover no-repeat;
}

.banner {
    background: linear-gradient(270deg, rgba(29, 41, 57, 0) -5.9%, #1D2939 99.57%),
        url(/docs/assets/images/about.jpg) no-repeat center center;
    background-size: cover;
}

.glass {
    background: rgba(255, 255, 255, 0.473);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.servicePath {
    clip-path: polygon(1rem 0, 100% 0%, 21rem 100%, 0% 100%);
}

@media (min-width: 768px) {
    .servicePath {
        clip-path: polygon(2.5rem 0, 100% 0%, 35.5rem 100%, 0% 100%);

    }
}
